name: Update Follow Projects

on:
  schedule:
    - cron: '0 16 * * *'
  workflow_dispatch: # 允许手动执行
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up JDK
        uses: actions/setup-java@v2
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Build and run Maven project
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          mvn clean install
          mvn exec:java -Dexec.mainClass="com.zjw.ProjectFetcher"

      - name: Commit changes
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          current_time=$(TZ='Asia/Shanghai' date +"%Y-%m-%d %T")
          commit_message="update $current_time"
          if [ -n "$(git status --porcelain)" ]; then
            git add .
            git commit -m "$commit_message"
            git push origin HEAD:${{ github.ref }}
          else
            echo "No changes to commit"
          fi
